* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#penguinContainer {
  width: 80%;
  height: 80%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.penguin {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(./img/penguin.png);
  pointer-events: none;
}
