<template id="article_tmp">
  <slot> </slot>
  <div class="media"></div>
  <div class="content">
    <h2 class="title"></h2>
    <div class="text"></div>
  </div>

  <style>
    * {
      box-sizing: border-box;
    }

    :host {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      margin: 5px 5px 48px 5px;
      position: relative;
      min-width: 300px;
    }

    .media {
      width: 100%;
      flex: 1;
      min-width: 300px;
    }

    .media > * {
      width: 100%;
      border-radius: 5px;
    }

    .content {
      width: 100%;
      flex: 2;
      min-width: 300px;
      padding-left: 24px;
    }

    .title,
    .text {
      word-wrap: break-word;
    }

    .title {
      padding-right: 60px;
    }

    .link {
      color: cornflowerblue;
      cursor: pointer;
    }

    .link:hover {
      text-decoration: underline;
    }
  </style>
</template>
