<template id="modal_tmp">
  <div class="close">+</div>
  <slot> </slot>

  <style>
    * {
      box-sizing: border-box;
    }

    :host {
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      padding: 60px 30px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      overflow-y: auto;
    }

    .close {
      top: 20px;
      right: 20px;
      position: fixed;
      color: white;
      font-size: 25px;
      cursor: pointer;
      transform: rotate(45deg);
    }
  </style>
</template>
